{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}

<!-- session hidden forms -->
{% include "/src/admin/forms.html" %}

<div class="main-content-box">
    <div class="main-content-box m-top-content">
        <div class="m-top-content mt-left-box">
            <h1>nanKim</h1>
        </div>
        
        <div class="m-top-content mt-right-box">
            <div class="right-top-content">
                <strong>{{ name }}</strong>
                |
                <a href="#">Contactes</a>
                |
                <a href="#">Changer mot de passe</a>
                |
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('auth.logout')}}">Deconnection</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Session popup screen -->
    {% include "/src/admin/registerworker.html" %}
    {% include "/src/admin/addphysicalproduct.html" %}

    <div class="main-content-box m-bottom-content">
        <!-- left session -->
        <div class="main-content-left">
            <div class="inner-main-content-left">
                <a id="open1" onclick="cashBook();">Cash Book</a>
                <a id="open3" onclick="Expenses();">Expenses</a>
                <a id="open2" onclick="Provision();">Provision</a>
                <!-- <a id="open3" onclick="onPreachingScreen();">Invoice</a> -->
                <a id="open4" onclick="Sell();">Sell</a>
                <a id="open5" onclick="Employee();">Employee</a>
            </div>
        </div>
       <!-- right session -->
       <div class="main-content-right" >
           <!-- Provision session -->
            <div class="provision-session" id="session2">
                <!-- <nav class="provision-session-top-nav">
                    <a id="virtuel" >virtuel</a>
                    <a id="physic" >Physique</a>
                </nav> -->
                <div class="provision-session-bottom">
                    <div class="f-content-left-bottom">
                        <div class="tbl-content-box">
                            <div class="title-bar-content">
                                <div class="filter-in-tbl">
                                    <input type="search" data-table="order-table" placeholder="filter in table.." class="filter-in-table">
                                </div>
                                <div class="option-btns">
                                    <a onclick="openAddPhysicalProductPop()">Ajouter</a> 
                                    <a id="btn-display-physicalproduct">Afficher</a>
                                </div>   
                            </div>
                            <div class="table-content" id="display-physical-product">
                                
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- End -->
            
            <!-- Start Expenses session -->
            <div class="Expenses-session" id="session3">
                <!-- <nav class="provision-session-top-nav">
                    <a id="virtuel">Payment</a>
                    <a id="physic">Physique</a>
                </nav> -->
                <div class="provision-session-bottom">
                    <div class="f-content-left-bottom">
                        <div class="tbl-content-box">
                            <div class="title-bar-content">
                                <div class="filter-in-tbl">
                                    <input type="search" data-table="order-table" placeholder="filter in table.." class="filter-in-table">
                                </div>
                                <div class="option-btns">
                                    <a onclick="openRecordExpensesPop()">Other Expenses</a>
                                    <a onclick="openPaymentPop()">Payment</a> 
                                    <a id="btn-display-all-expenses">Display</a>
                                </div>   
                            </div>
                            {% include "/src/admin/payment.html" %}
                            <div class="table-content" id="display-expenses-tbl">
                                
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>

            <!-- End -->

            <!-- Start Register Employee -->

            <div class="Employee-session" id="session5">
                <div class="provision-session-bottom">
                    <div class="f-content-left-bottom">
                        <div class="tbl-content-box">
                            <div class="title-bar-content">
                                <div class="filter-in-tbl">
                                    <input type="search" data-table="order-table" placeholder="filter in table.." class="filter-in-table">
                                </div>
                                <div class="option-btns">
                                    <!-- <a>Other</a> -->
                                    <a onclick="openRecordWorkerPop()">Record Worker</a> 
                                    <a id="btn-display-recoredworker">Display</a>
                                </div>   
                            </div>
                            <div class="table-content" id="display-recordworker">
                                
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>

            <!-- End -->
            <!-- Start Purchase -->

            {% include "/src/admin/purchase.html" %}

            <!-- End -->
            
            <!-- Start cash book -->

            <div class="cashbook-session" id="session1">
                <div class="provision-session-bottom">
                    <div class="f-content-left-bottom">
                        <div class="tbl-content-box">
                            <div class="title-bar-content">
                                <div class="filter-in-tbl">
                                    <input type="search" data-table="order-table" placeholder="filter in table.." class="filter-in-table">
                                </div>
                                <div class="option-btns">
                                    <a id="getbutton">Print</a>
                                    <!-- <a onclick="openRecordWorkerPop()">Record Worker</a> 
                                    <a id="btn-display-recoredworker">Display</a> -->
                                </div>   
                            </div>
                            {% include '/src/admin/cashbook.html' %}
                            <br/>
                            <div class="table-content" id="display-cashbook" style="border-top: 1px solid #888888;">
                                
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</div>
{% endblock %}

