<!-- Top session -->

<div class="top-session-repport">
    <div class="top-session-items" style="background: royalblue;">
        <div class="title-content">
            <h3>Sell</h3>
        </div>
        <div class="value-content">
            <h3 id="amountsolddebit">$ 300</h3>
        </div>
    </div>

    <div class="top-session-items" style="background: orangered">
        <div class="title-content">
            <h3 >Expenses</h3>
        </div>
        <div class="value-content">
            <h3 id="amountsoldcredit">$ 300</h3>
        </div>
    </div>

    <div class="top-session-items" style="background: green">
        <div class="title-content">
            <h3>Cash</h3>
        </div>
        <div class="value-content">
            <h3 id="tot-cash">$ 300</h3>
        </div>
    </div>
</div>