<!-- Add phyical product -->
<form id="addphysicalproduct-hidden-form">
    <input type="hidden" value="0" name="addphysicalproduct-hidden-form">
</form>

<!-- Update product -->
<form  id="edit-pop-physical-product-hidden" style="visibility: hidden;">
    <input type="hidden" id="edit-product" name="edit-product">
</form>

<!-- Recorde worker -->
<form id="recordworker-hidden-form">
    <input type="hidden" name="recordworker-hidden-form">
</form>
<!-- Get worker to update -->

<form id="get-worker-hidden-form">
    <input type="hidden" name="get-worker-hidden" id="get-worker-hidden">
</form>

<!-- Display selling  -->

<form id="get-sold-product-form">
    <input type="hidden" name="get-sold-product" id="get-sold-product">
</form>

<!-- Display all expenses -->

<form id="get-all-expenses-form">
    <input type="hidden" name="get-all-expenses-form">
</form>

<!-- Cash out onclick display content -->

<form id="hidden-cashout-form">
    <input type="hidden" name="hidden-cashout-form">
</form>