<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block  title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/index.css") }}'>
        <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/login.css") }}'>
        <link rel="stylesheet" type="text/css" href='{{url_for("static", filename="css/main.css")}}'>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/extend_main.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
{% block script %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/managepopupscreens.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/provision.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filterInTable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tablePagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/recordworker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/livesearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/livesearch1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/purchase.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/expenses.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/cashout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switchscreen.js') }}"></script>

{% endblock %}
</html>